@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



/* shared style */
.disply-flex{
    display: flex;
}

.text-gray{
    color:rgba(66,66,66,1) ;
}


.bg-light{
    background-color: rgba(255, 144, 14, 0.1) ;
}


main > section{
    margin-top: 130px;
}

/* header style */





/* navbar related style */
.navbar{
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.navbar,.banner,main {
    max-width: 1440px;
    margin: 0 auto;
}

.brand{
    font-weight:700;
    font-size: 3rem;
}


.banner-content{
    max-width:850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-images{
    width: 100%;
}


.banner-title{
     font-weight:700px ;
     font-size: 4rem;
}

.btn-primary{
    background-color: rgba(255, 144, 14, 1);
    color:white ;
    font-weight:600;
    font-size: 1.25rem;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
}

 .teams{
    align-items: center;
 }

 .team-img-container{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    gap: 24px;
 }

 .our-feature{
    margin: 73px;
    max-width: 550px;
 }

 .featture-title{
    font-size: 2.8rem;
 }

 .text-gray{
    color: rgb(120, 119, 119) ;
    
    
 }
 .one-pice{
    color: black;
 }

 .two-pice{
    color: rgba(255, 144, 14, 1);
 }
 #quick-list{
    font-weight: 500;
 }


@media screen and (max-width:576px){
    .navbar, .nav-link, .teams{
        flex-direction: column;
    }

    .team-img-container{
       grid-template-columns: repeat(1,1fr); 
    }
}

@media screen and (min-width:576px) and (max-width::992px){
    .teams{
        flex-direction: column;
    }

    .our-feature{
        margin-left: 50px;
    }
}